* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  padding: 0.5rem 0.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

option {
  font-size: 1rem;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
}